/* nav styles */
.nav-title{
    font-weight: bold;
    font-size: 32px;
}
.nav-btn{
  width: 116px;
  height: 52px;
  font-size: 18px;
  font-weight: 600px;
  color: rgba(0, 106, 80, 1);
  border-radius: 8px;
}
.btn-p{
  font-size: 18px;
  font-weight: 600px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  
  padding-bottom: 40px;
}
nav{
  display: flex;
  justify-content: space-between;
}

.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
body{
  background-color: rgba(255, 255, 255, 1);
}
/* banner styles */
.banner{
  width: 1280px;
  height: 560px;
  background-color:rgba(198, 228, 214, 1);
  border-radius: 24px;
}
.bnr-dtl{
width: 622px;
height: 326px;
display: ;
text-align: left;
padding-top: 60px;
padding-bottom: 150px;
padding-left: 90px;
}
.p1{
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
}
.bnr-h{
  font-size: 56px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
}
.bnr-btn{
  width: 270px;
  height: 56px;
  background-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
}
.bnr-img{
  width: 475px;
  height: 400px;
  margin-right: 30px;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* pillar styles */
.pillar-h{
  font-size: 40px;
  font-weight: bold;
  margin-top: 80px;
}
.sub-pillars{
  margin-top: 32px;
  width: 1280px;
  height: 244px;
  padding: 40px;
  align-items: center;
  color: rgba(241, 241, 243, 1);
  border-radius: 16px;
  border: 10px;
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
  margin-right: 24px;
}
.sub-pillars-2, .sub-pillars-4{
  margin-top: 32px;
  width: 1280px;
  height: 208px;
  margin-bottom: 12px;
  padding: 40px;
  
  align-items: center;
  color: rgba(241, 241, 243, 1);
  border-radius: 16px;
  border: 10px;
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
  margin-right: 24px;
}
.sub-pillars-h{
  font-size: 20px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
}
.sub-pillars-p{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  
}
.pillar-items{
  display: flex;
align-items: center;
}
/* section design */
.sub-sec{
  display: flex;
  align-items: center ;
}
.sub-sec-1{
  margin-top: 32px;
  width: 410px;
  height: 325px;
  padding: 32px;
  align-items: center;
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
  border: 10px;
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
  margin-right: 24px;
}
.sub-sec-2{
  margin-top: 32px;
  width: 410px;
  height: 325px;
  padding: 32px;
  align-items: center;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 16px;
  border: 10px;
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
  margin-right: 24px;
}
.sub-sec-3{
  margin-top: 32px;
  width: 410px;
  height: 325px;
  padding: 32px;
  align-items: center;
  background-color: rgba(247, 235, 207, 1);
  border-radius: 16px;
  border: 10px;
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
  margin-right: 24px;
}
.btn-sec-3{
  width: 122px;
  height: 41px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600px;
  background-color: rgba(255, 194, 57, 1);
}
.btn-sec-2{
  width: 122px;
  height: 41px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600px;
  background-color: rgba(9, 161, 92, 1);
}
.btn-sec-1{
  width: 122px;
  height: 41px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600px;
  background-color: rgba(84, 144, 245, 1);
  align-items: center;
  text-align: center;
  
}

/* statement */
.yunus{
  width: 1280px;
  height: 220px;
  border-radius: 16px;
  background-image: url(../assets/quote-bg.png );
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-position: top left;
  align-items: center;
  padding: 48px 24px 48px 24px;
  margin-top: 32px;
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
  justify-content: center;
}
/* table */
table{
  border-collapse: collapse;
  width: 1280px;
  height: 481px;
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
}
td{
  border: 1px solid rgba(14, 14, 14, 0.15);
  width: 1216px;
  height: 92px;
}
.th{
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 1);
  padding-left: 30px;
}
thead{
  background-color: rgba(198, 228, 214, 1);
  padding-left: 30px;
}
select{
  width: 152px;
  height: 44px;
  background-color: rgba(9, 161, 92, 0.15);
  font-size: 16px;
  font-weight: 700;
  padding: 24 24 24 24;
  margin-left: 20px;
}
.ques{
  font-weight: 600;
  font-size: 16px;
  width: 969px;
  height: 19px;
  padding-left: 30px;
}
/* news section */
.news-btn{
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
  width: 1280px;
  height: 402px;
}
.news-btn{
   background-color: rgba(0, 106, 80, 1);
width: 139px;
height: 48px;
border-radius: 8px;
}
.news-h{
  font-weight: bold;
  font-size: 32px;
}
.sub-news-1{
  display: flex;
  align-items: center;

}
.content-1 {
  width: 744px;
  height: 290px;
   padding-bottom:  70px;
  margin-right: 20px;
  
}
.content-2 {
  width: 744px;
  height: 290px;
   padding-bottom: 70px;
  margin-left: 30px;
  
}
.sub-news-1{
  box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
  width: 1280px;
  height: 402px;
  border-radius: 24px;
  align-items: center;
}

.satellite-1{
  padding: 40px;
  border-radius: 25px;
  width: 408px;
  height: 306px;

}
.satellite-2{
  padding: 48px;
  border-radius: 25px;
  width: 408px;
  height: 306px;
}